Django
South
Fabric
gunicorn
psycopg2
django-debug-toolbar
django-compressor
django-forms-bootstrap
lxml
BeautifulSoup

django-servee
django-uni-form
django-servee-tinymce
django-servee-uploadify
django-servee-image
django-servee-gallery
http://github.com/issackelly/django-chunks/tarball/master

