<!DOCTYPE html>
{% load i18n chunks %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{SITE_NAME}}{% endblock %}</title>
        {% block styles %}
        {% include "_styles.html" %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% endblock %}
        {% block scripts %}
        {% include "_scripts.html" %}
        {% endblock %}
    </body>
    <footer>{% chunk "footer" %}</footer>
</html>
