<!doctype html>
{% load i18n chunks %}
<!--[if lt IE 7 ]><html class="ie ie6" dir="ltr" lang="{{ LANGUAGE_CODE }}"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" dir="ltr" lang="{{ LANGUAGE_CODE }}"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" dir="ltr" lang="{{ LANGUAGE_CODE }}"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html dir="ltr" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{SITE_NAME}}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block styles %}
    {% include "_styles.html" %}
    {% endblock %}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="shortcut icon" href="{{ STATIC_URL }}icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}icons/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <div class="container">
        {% block body %}
        {% endblock %}
        {% block scripts %}
        {% include "_scripts.html" %}
        {% endblock %}
    </div> <!-- /container -->
    <footer>{% chunk "footer" %}</footer>
  </body>
</html>
